## Import Processed Data

In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime as dt
from re import sub
from decimal import Decimal
import numpy as np
import re

import tqdm
tqdm.monitor_interval = 0

import os
import importlib.util

current_file_path = os.path.abspath(os.path.join("__file__" ,"../.."))
import_data_path = os.path.join(current_file_path,'src','data')

spec = importlib.util.spec_from_file_location("import_clean_csv", os.path.join(import_data_path,"import_clean_data.py"))
import_data = importlib.util.module_from_spec(spec)
spec.loader.exec_module(import_data)

data = import_data.import_clean_csv()

In [2]:
data.keys()

dict_keys(['tmdb_cast_credit', 'tmdb_crew_credit', 'tmdb_movie_genres', 'tmdb_movie_keywords', 'tmdb_movie_main', 'tmdb_movie_production_companies', 'tmdb_movie_production_countries', 'tmdb_movie_spoken_languages'])

In [3]:
df = data['tmdb_movie_main']

missing_movies = df[(df.budget < 1) | (df.revenue < 1)].reindex(columns=['budget', 'revenue','release_date'])
missing_movies.reset_index(level=[0,1], inplace=True)
missing_movies.sort_index(inplace=True)
len(missing_movies)

1574

In [4]:
def row_scrape_movie_data(row):
    missing_movie_dict = {}
    url = 'https://www.the-numbers.com/'
    
    url2, movie_url = "",""
    row.budget, row.revenue, row.movie_url = np.nan, np.nan, np.nan
    title, release_date = row.title, row.release_date
    title_search_url = title.replace(' ', '+')
     
    #movie title search result page url
    query = '{}search?searchterm={}&searchtype=allmatches'.format(url,title_search_url)
    search_page = requests.get(query)
    search_soup = BeautifulSoup(search_page.content, 'html.parser')

    urls = [] #to keep track of urls in search_page
    tables = search_soup.find_all('div', id='page_filling_chart')

    if 'No movie match found' in tables[1].find('p').get_text():
        return row

    # if there is more than one movie returned in search, pick the one that matches release date year
    for link in tables[1].find_all('a'):
        if "/movie" in link.get('href') or "/daily" in link.get('href'):
            urls.append(link.get('href'))

    if not urls or len(urls)<=1: #if no urls are found
        return row
    else:
        for i in range(0,len(urls)):
            pattern = re.compile(r'.+/daily/(.+)$')
            if 'daily' in urls[i]:
                web_release_date = dt.strptime(re.match(pattern,urls[i]).group(1), '%Y/%m/%d')
            else:
                continue
            if web_release_date.year in range(release_date.year-3,release_date.year+3):
                #if date matches, then the next href link will be the correct link
                #for financial details of the movie
                url2 = urls[i+1]
                break
        else:
            return row

    movie_url = url + url2

    if url2:
        #financial details extracted from movie page
        movie_page = requests.get(movie_url)
        movie_soup = BeautifulSoup(movie_page.content, 'html.parser')

        #scrape worldwide box office revenue
        table = movie_soup.find('table', id='movie_finances')
        tds = table.find_all('td')
        box_office = []
        for i in range(len(tds)):
            if "Box Office" in tds[i].get_text():
                money = tds[i+1].get_text()
                box_office.append(Decimal(sub(r'[^\d.]', '', money)))
        
        if box_office:
            revenue = max(box_office)
        else:
            revenue = np.nan
            
        #scrape production budget
        heading = movie_soup.find('h2', text='Movie Details')
        tds = heading.parent.find_all('td')
        for i, td in enumerate(tds):
            if re.match('^production.+budget.+', td.get_text().lower()):
                budget = Decimal(sub(r'[^\d.]', '', tds[i+1].get_text()))
                break
        else:
            
            budget = np.nan

    row.budget = budget
    row.revenue = revenue
    row.movie_url = movie_url

    return row

In [5]:
wrong_titles = {9396: "Crocodile Dundee 2", 9644: "Loaded Weapon 1", 1011: "Richie Rich", 11658: "Tae Guik Gi: The Brotherhood of War", 
    367961: "Savva. Serdtse voyna", 25353: 'La véritable histoire du Chat Botté', 290864: 'Kung Fu Killer', 
    30379: 'Megiddo: Omega Code 2', 46435: 'Topsy Turvy', 12154: '3 Men and a Baby', 91586: 'Insidious Chapter 2'}

In [6]:
for movie_id, title in wrong_titles.items():
    mask = missing_movies.movie_id == movie_id
    missing_movies.loc[mask,'title'] = title

In [7]:
date_mask = missing_movies.movie_id == 380097
missing_movies.loc[date_mask,'release_date'] = dt(2014,12,31)
missing_movies['movie_url'] = np.nan

In [8]:
#missing_movie_data = scrape_movie_data(missing_movies.iloc[:10])
tqdm.tqdm_notebook().pandas()

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [10]:
found_movies = missing_movies.progress_apply(row_scrape_movie_data, axis=1)

HBox(children=(IntProgress(value=0, max=1574), HTML(value='')))

In [13]:
found_movies.to_csv('found_movies.csv', index=False)

In [24]:
found_movies[found_movies.isnull().any(axis=1)]

,movie_id,title,budget,revenue,release_date,movie_url
8,16858,All That Jazz,NaN,37823676,1979-12-20,https://www.the-numbers.com//movie/All-That-Ja...
11,161795,Déjà Vu,NaN,6321997,1998-04-22,https://www.the-numbers.com//movie/Deja-Vu#tab...
14,330770,Evolution,NaN,49587,2015-09-14,https://www.the-numbers.com//movie/Evolution-(...
15,9433,The Edge,NaN,34099255,1997-09-06,https://www.the-numbers.com//movie/Edge-The#ta...
20,25769,Carriers,NaN,6808883,2009-09-04,https://www.the-numbers.com//movie/Carriers#ta...
62,53953,The Tooth Fairy,NaN,NaN,2006-08-08,NaN
64,7504,Earth,NaN,528972,1998-09-16,https://www.the-numbers.com//movie/Earth#tab=s...
65,593,Solaris,NaN,NaN,1972-03-20,NaN
67,27983,"Yours, Mine and Ours",NaN,25912624,1968-04-24,https://www.the-numbers.com//movie/Yours-Mine-...
81,280391,Why I Did (Not) Eat My Father,NaN,NaN,2015-04-08,NaN
86,11011,Ri¢hie Ri¢h,NaN,NaN,1994-12-19,NaN
104,14392,The Warlords,NaN,0,2007-12-12,https://www.the-numbers.com//movie/Battle-of-t...
105,19495,Nomad: The Warrior,NaN,NaN,2005-07-17,NaN
106,77459,A Monster in Paris,NaN,NaN,2011-10-12,NaN
126,118957,Bait,NaN,32588670,2012-09-05,https://www.the-numbers.com//movie/Bait-(2012)...
137,77875,Playing for Keeps,NaN,27805632,2012-11-29,https://www.the-numbers.com//movie/Playing-for...
174,31203,Little Nicholas,NaN,NaN,2009-09-30,NaN
176,50135,Animals United,NaN,NaN,2010-10-07,NaN
198,9092,Snow White: A Tale of Terror,NaN,NaN,1997-07-18,NaN
202,208763,Forbidden Kingdom,NaN,NaN,2014-01-30,NaN
204,175555,A Madea Christmas,NaN,0,2013-12-13,https://www.the-numbers.com//movie/Madea-Chris...
219,133698,Fly Me to the Moon,NaN,NaN,2012-10-29,NaN
228,49953,A Turtle's Tale: Sammy's Adventures,NaN,NaN,2010-08-03,NaN
239,12658,Someone Like You...,NaN,NaN,2001-03-30,NaN
246,205588,Our Kind of Traitor,NaN,6883899,2016-05-05,https://www.the-numbers.com//movie/Our-Kind-of...
309,10353,The Visitors II: The Corridors of Time,NaN,NaN,1998-02-11,NaN
315,280871,Ramanujan,NaN,NaN,2014-07-11,NaN
321,9378,Thir13en Ghosts,NaN,NaN,2001-10-26,NaN
325,244114,Firestorm,NaN,50770000,2013-12-12,https://www.the-numbers.com//movie/Feng-Bao#ta...
329,340611,Indignation,NaN,3608849,2016-07-29,https://www.the-numbers.com//movie/Indignation...
...,...,...,...,...,...,...
1454,70687,The Sticky Fingers of Time,NaN,NaN,1997-06-06,NaN
1459,34697,Butterfly,NaN,NaN,1982-02-05,NaN
1470,53256,Three,NaN,0,2010-12-23,https://www.the-numbers.com//movie/Three-and-O...
1471,40920,The Business of Fancydancing,NaN,NaN,2002-01-14,NaN
1472,287815,Call + Response,NaN,NaN,2008-10-10,NaN
1474,176074,Reality Show,NaN,NaN,2015-01-01,NaN
1475,69270,Super Hybrid,NaN,NaN,2010-01-01,NaN
1477,402515,American Beast,NaN,NaN,2014-10-21,NaN
1479,48035,Ordet,NaN,NaN,1955-01-09,NaN
1492,28666,The Woman Chaser,NaN,NaN,1999-10-08,NaN
1494,50497,When the Lights Went Out,NaN,NaN,2012-01-31,NaN
1496,13187,A Charlie Brown Christmas,NaN,NaN,1965-12-09,NaN
1497,335244,Antarctic Edge: 70° South,NaN,NaN,2015-04-17,NaN
1504,40652,The Married Woman,NaN,NaN,1964-12-04,NaN
1509,18841,The Lost Skeleton of Cadavra,NaN,NaN,2001-09-12,NaN
1510,272726,Dude Where's My Dog?,NaN,NaN,2014-06-12,NaN
1513,13538,Straightheads,NaN,NaN,2007-04-27,NaN
1514,51130,Open Secret,NaN,NaN,1948-02-14,NaN
1516,72086,The Night Visitor,NaN,NaN,1971-01-01,NaN
1519,90414,"I Love You, Don't Touch Me!",NaN,NaN,1997-01-21,NaN
1524,33468,The Brain That Wouldn't Die,NaN,NaN,1962-02-25,NaN
1530,42109,Gabriela,NaN,0,1983-03-24,https://www.the-numbers.com//movie/Gabriela-(1...
1532,84659,The Naked Ape,NaN,NaN,2006-09-16,NaN
1543,13963,The Last Waltz,NaN,NaN,1978-05-01,NaN
1549,42497,Pink Narcissus,NaN,NaN,1971-01-01,NaN
1550,33693,Funny Ha Ha,NaN,NaN,2002-09-20,NaN
1553,38780,Rampage,NaN,0,2009-08-14,https://www.the-numbers.com//movie/Rampage-Kil...
1566,182291,On The Downlow,NaN,NaN,2004-04-11,NaN
1567,286939,Sanctuary: Quite a Conundrum,NaN,NaN,2012-01-20,NaN
1572,126186,Shanghai Calling,NaN,10443,2012-05-03,https://www.the-numbers.com//movie/Shanghai-Ca...

In [51]:
found_movies = found_movies[(found_movies.budget > 1)|(found_movies.revenue > 1)]

In [52]:
found_movies[found_movies.isnull().any(axis=1)]

Empty DataFrame
Columns: [movie_id, title, budget, revenue, release_date, movie_url]
Index: []

In [27]:
original_movie_df = data['tmdb_movie_main'].reset_index()

In [53]:
merged = original_movie_df.merge(right=found_movies, how='left', on = ['movie_id','title'])

In [54]:
merged['budget'] = np.max(merged[['budget_x', 'budget_y']], axis=1)
merged['revenue'] = np.max(merged[['revenue_x', 'revenue_y']], axis=1)
merged['release_date'] = np.max(merged[['release_date_x', 'release_date_y']], axis=1)
merged = merged.drop(labels=['budget_x', 'budget_y','revenue_x', 'revenue_y', 'release_date_x', 'release_date_y', 'movie_url'], axis=1)

In [30]:
merged.to_csv('tmdb_movies_final.csv', index=False)

In [63]:
#original_movie_df[(original_movie_df.budget > 1) & (original_movie_df.revenue > 1)]
what = merged[(merged.budget > 1)|(merged.revenue > 1)]
what[what.release_date.isnull()]

Empty DataFrame
Columns: [movie_id, title, original_language, overview, popularity, runtime, status, tagline, vote_average, vote_count, budget, revenue, release_date]
Index: []