In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
import os
import glob

# Import Dataset

In [3]:
os.getcwd()

'C:\\Users\\ill will\\Desktop\\Code\\springboard\\Capstone_1\\notebooks'

In [4]:
import importlib.util
import sys

current_file_path = os.path.abspath(os.path.join("__file__" ,"../.."))
current_file_path

'C:\\Users\\ill will\\Desktop\\Code\\springboard\\Capstone_1'

In [54]:
import_data_path = os.path.join(current_file_path,'src','data')
sys.path.append(os.path.abspath(os.path.join(import_data_path)))
import prep_data_for_models as pdfm

import_eda_path = os.path.join(current_file_path,'src','tools')
sys.path.append(os.path.abspath(os.path.join(import_eda_path)))
import eda_tools as eda

In [7]:
data = pdfm.get_data()

In [8]:
movies = pdfm.get_movies(data)

In [9]:
data.keys()

dict_keys(['tmdb_cast_credit', 'tmdb_crew_credit', 'tmdb_movie_genres', 'tmdb_movie_keywords', 'tmdb_movie_main', 'tmdb_movie_production_companies', 'tmdb_movie_production_countries', 'tmdb_movie_spoken_languages'])

In [15]:
actors_df = pdfm.get_actor_credits(data, movies, False, False)

getting cast credits to date

HBox(children=(IntProgress(value=0, max=1811), HTML(value='')))

getting cast net to date

HBox(children=(IntProgress(value=0, max=1811), HTML(value='')))

In [31]:
actors_df.rename(columns={'credits': 'actor_credits', 'net_to_date':'actor_net_to_date'}, inplace=True)

In [17]:
crew_dfs = pdfm.get_crew_credits(data, movies, False, False)

Producer

HBox(children=(IntProgress(value=0, max=1592), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1592), HTML(value='')))

Writer

HBox(children=(IntProgress(value=0, max=1092), HTML(value='')))

HBox(children=(IntProgress(value=0, max=1092), HTML(value='')))

Director

HBox(children=(IntProgress(value=0, max=2018), HTML(value='')))

HBox(children=(IntProgress(value=0, max=2018), HTML(value='')))

In [22]:
for k, df in crew_dfs.items():
    crew_dfs[k].rename(columns={'credits':k.lower() + '_credits', 'net_to_date': k.lower() + '_net_to_date'}, inplace=True)

In [32]:
mega_df = actors_df.drop('name', axis=1)
for k,df in crew_dfs.items():
    mega_df = mega_df.merge(df.drop('name',axis=1), on=['movie_id', 'title'], how='inner')

In [39]:
genres_df = pdfm.get_genre_data(data, movies, False, False).reset_index()

In [41]:
mega_df = mega_df.merge(genres_df, on=['movie_id', 'title'])

In [44]:
lang_df = pdfm.get_language_data(data, movies, False, False).reset_index()

In [46]:
mega_df = mega_df.merge(lang_df, on=['movie_id', 'title'])

In [47]:
mega_df.head()

,movie_id,title,actor_credits,actor_net_to_date,producer_credits,producer_net_to_date,writer_credits,writer_net_to_date,director_credits,director_net_to_date,genre_count,language_count
0,5,Four Rooms,0,0,2,219389769,0,0,0,0,2,1
1,11,Star Wars,0,0,1,139223000,0,0,1,139223000,3,1
2,16,Dancer in the Dark,0,0,0,0,0,0,0,0,3,1
3,24,Kill Bill: Vol. 1,0,0,7,518392527,1,13461007,3,247062931,2,3
4,28,Apocalypse Now,0,0,2,37362841,0,0,3,276429252,2,3

In [50]:
movies = movies[['budget','release_date','runtime']].reset_index()

In [52]:
movies.head()

,movie_id,title,budget,release_date,runtime
0,19995,Avatar,237000000,2009-12-10,162
1,285,Pirates of the Caribbean: At World's End,300000000,2007-05-19,169
2,206647,Spectre,245000000,2015-10-26,148
3,49026,The Dark Knight Rises,250000000,2012-07-16,165
4,49529,John Carter,260000000,2012-03-07,132

In [55]:
movies = eda.split_release_date(movies)

In [57]:
mega_df = pd.merge(movies.drop('release_date', axis=1),mega_df, on=['movie_id','title'])

In [61]:
mega_df.set_index(['movie_id', 'title'], inplace=True)

In [62]:
mega_df.head()

,,budget,runtime,release_month,release_year,release_dow,actor_credits,actor_net_to_date,producer_credits,producer_net_to_date,writer_credits,writer_net_to_date,director_credits,director_net_to_date,genre_count,language_count
movie_id,title,,,,,,,,,,,,,,,
19995,Avatar,237000000,162,12,2009,3,0,0,3,2328916599,1,420000000,6,2585704352,4,2
99861,Avengers: Age of Ultron,280000000,141,4,2015,2,11,3940617206,8,4891494230,1,-130536,2,1299427374,3,1
41154,Men in Black 3,225000000,106,5,2012,2,12,3150078356,4,957515311,0,0,6,1068161961,3,1
122917,The Hobbit: The Battle of the Five Armies,250000000,144,12,2014,2,2,762878416,5,2031848765,0,0,8,4499623032,3,1
37724,Skyfall,200000000,143,10,2012,3,6,955438019,6,1871145305,2,77012923,5,505313187,3,1

In [63]:
mega_df.to_csv('mega_features.csv')