In [26]:
import pandas as pd
import numpy as np
import glob
import os
import csv
import re
import ast
from pandas.io.json import json_normalize
from pandas.io import json
current_file_path = os.path.abspath(os.path.join("__file__" ,"../.."))
raw_data_path = os.path.join(current_file_path,'raw')
ext_data_path = os.path.join(current_file_path,'external')
data_files = glob.glob(os.path.join(ext_data_path, '*.csv'), recursive=False)

import re
pattern = r'.+/(.+)_cleaned.csv$'  #extract filenames of cleaned files for dict keys

#dict to contain all dataframes
data = {}
for file in data_files:
    matchobj = re.search(pattern, file)
    data[matchobj.group(1)] = pd.read_csv(file, index_col = ['movie_id', 'title'])

In [28]:
data.keys()

dict_keys(['tmdb_movie_genres', 'tmdb_crew_credit', 'tmdb_movie_keywords', 'tmdb_movie_production_companies', 'tmdb_movie_main', 'tmdb_movie_production_countries', 'tmdb_cast_credit', 'tmdb_movie_spoken_languages'])

In [37]:
for key in data.keys():
    print(key)
    print(data[key].info(), '\n')

tmdb_movie_genres
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12160 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 2 columns):
id      12160 non-null int64
name    12160 non-null object
dtypes: int64(1), object(1)
memory usage: 312.2+ KB
None

tmdb_crew_credit
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 129581 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 6 columns):
credit_id     129581 non-null object
department    129581 non-null object
gender        129581 non-null int64
id            129581 non-null int64
job           129581 non-null object
name          129581 non-null object
dtypes: int64(2), object(4)
memory usage: 6.5+ MB
None

tmdb_movie_keywords
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 36194 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 2 columns):
id      36194 non-null int64
name    36194 non-null object
dtypes: int64(1), object(1)
memory usage: 775.6+ KB
None

tmdb_movie_production_companies
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 13677 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 2 columns):
id      13677 non-null int64
name    13677 non-null object
dtypes: int64(1), object(1)
memory usage: 336.8+ KB
None

tmdb_movie_main
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4803 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 12 columns):
budget               4803 non-null int64
homepage             1712 non-null object
original_language    4803 non-null object
overview             4800 non-null object
popularity           4803 non-null float64
release_date         4802 non-null object
revenue              4803 non-null int64
runtime              4801 non-null float64
status               4803 non-null object
tagline              3959 non-null object
vote_average         4803 non-null float64
vote_count           4803 non-null int64
dtypes: float64(3), int64(3), object(6)
memory usage: 544.2+ KB
None

tmdb_movie_production_countries
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6436 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 2 columns):
iso_3166_1    6436 non-null object
name          6436 non-null object
dtypes: object(2)
memory usage: 198.1+ KB
None

tmdb_cast_credit
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 106257 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 7 columns):
cast_id      106257 non-null int64
character    105574 non-null object
credit_id    106257 non-null object
gender       106257 non-null int64
id           106257 non-null int64
name         106257 non-null object
order        106257 non-null int64
dtypes: int64(4), object(3)
memory usage: 6.2+ MB
None

tmdb_movie_spoken_languages
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6937 entries, (19995, Avatar) to (25975, My Date with Drew)
Data columns (total 2 columns):
iso_639_1    6937 non-null object
name         6883 non-null object
dtypes: object(2)
memory usage: 209.3+ KB
None

In [43]:
print(data['tmdb_movie_main'].budget.nlargest(10))
print('\n')
print(data['tmdb_movie_main'].revenue.nlargest(10))

movie_id  title
1865      Pirates of the Caribbean: On Stranger Tides    380000000
285       Pirates of the Caribbean: At World's End       300000000
99861     Avengers: Age of Ultron                        280000000
1452      Superman Returns                               270000000
49529     John Carter                                    260000000
38757     Tangled                                        260000000
559       Spider-Man 3                                   258000000
57201     The Lone Ranger                                255000000
49026     The Dark Knight Rises                          250000000
767       Harry Potter and the Half-Blood Prince         250000000
Name: budget, dtype: int64

In [50]:
data['tmdb_movie_main']['net'] = data['tmdb_movie_main'].revenue - data['tmdb_movie_main'].budget
print(data['tmdb_movie_main'].net.nlargest(10))
print('\n')
print(data['tmdb_movie_main'].net.nsmallest(10))

movie_id  title
19995     Avatar                                           2550965087
597       Titanic                                          1645034188
135397    Jurassic World                                   1363528810
168259    Furious 7                                        1316249360
24428     The Avengers                                     1299557910
99861     Avengers: Age of Ultron                          1125403694
109445    Frozen                                           1124219009
211672    Minions                                          1082730962
122       The Lord of the Rings: The Return of the King    1024888979
68721     Iron Man 3                                       1015439994
dtype: int64


movie_id  title
57201     The Lone Ranger                -165710090
7978      The Wolfman                    -150000000
10733     The Alamo                      -119180039
50321     Mars Needs Moms                -111007242
14164     Dragonball Evolution           -100000000
1911      The 13th Warrior                -98301101
11692     The Adventures of Pluto Nash    -92896027
19        Metropolis                      -91969578
10357     Volcano                         -90000000
9822      Mighty Joe Young                -90000000
dtype: int64